.repo-list-page {
	// Responsive width
	@screen lg {
		width: 50%;
	}
	@screen md {
		width: 70%;
	}
	width: 85%;
	max-width: 50rem;
	overflow: hidden;
	padding-top: 3rem;

	.user-section {
		display: flex;
		flex-direction: column;

		// Username
		h2 {
			@apply text-3xl font-header;

			@screen md {
				@apply text-4xl;
			}
		}

		.repositories {
			margin-top: 0.5rem;
			align-self: flex-end;
			@apply text-content-mid font-header;
		}
	}

	.repo-cards-container {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		padding-top: 3rem;
		padding-bottom: 4rem;
	}

	.repo-card {
		width: 100%;

		&:not(:last-child) {
			margin-bottom: 1rem;
		}

		.info {
			display: flex;
			align-items: center;

			&:not(:last-child) {
				margin-right: 0.8rem;
			}

			&-language {
				@apply badge badge-outline;
				@apply text-content-light border-content-light;
			}

			&-container {
				margin-top: 0.5rem;
				display: flex;
				align-items: center;
				@apply text-content-light text-sm;
			}
		}
	}
}
