.repo-page {
	// Responsive width
	@screen lg {
		width: 50%;
		padding-top: 3rem;
	}
	@screen md {
		width: 70%;
		padding-top: 2rem;
	}
	width: 85%;
	max-width: 50rem;
	overflow: hidden;
	padding-top: 1rem;

	.title {
		display: flex;
		flex-direction: column;
		align-items: flex-start;

		@screen md {
			flex-direction: row;
			justify-content: space-between;
			align-items: center;
		}

		// Repo's full name
		h2 {
			@apply text-2xl font-bold text-primary;
		}

		.info-container {
			display: flex;
			flex-direction: row;
			justify-content: flex-end;
			padding-top: 0.75rem;

			@screen md {
				padding-top: 0;
			}

			.info {
				display: flex;
				flex-direction: row;
				align-items: center;
				border-radius: 0.5rem;
				border: 1px solid lightgray;
				@apply text-content-mid;
				@apply px-3 py-1;

				&-count {
					@apply ml-1 px-2;
					@apply bg-gray-200;
					border-radius: 50rem;
					height: 1.5rem;
					text-align: center;
				}

				&:not(:last-child) {
					margin-right: 0.5rem;
				}
			}
		}
	}

	section {
		@apply mt-7;

		// Title
		h3 {
			@apply text-header text-lg font-medium font-header;
		}

		// Content
		p {
			@apply text-content-mid;
			@apply mt-1;

			.topic-badge {
				@apply badge badge-primary text-gray-50;

				&:not(:last-child) {
					margin-right: 0.25rem;
				}
			}
		}
	}
}
