@import "./common/ErrorMessage.scss";
@import "./modules/repo_list/RepoListPage.scss";
@import "./modules/repo/RepoPage.scss";
@import "./modules/home/HomePage.scss";
@import "~tailwindcss/base";
@import "~tailwindcss/components";
@import "~tailwindcss/utilities";

.abs-center {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.flex-row-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-col-center {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.loading {
	@apply text-2xl text-content-mid text-center;
}
