.search-bar {
	// Responsive width
	@screen lg {
		width: 50%;
	}
	@screen md {
		width: 70%;
	}
	width: 85%;
	max-width: 50rem;

	position: absolute;
	left: 50%;
	top: 45%;
	transform: translate(-50%, -50%);

	.input-field {
		@screen md {
			flex-direction: row;
		}

		display: flex;
		align-items: center;
		flex-direction: column;

		button {
			@apply btn btn-primary text-gray-50;
			margin-top: 1rem;

			@screen md {
				margin-top: 0;
				margin-left: 1rem;
				align-self: flex-end;
			}
		}
	}
}
